In [3]:
import numpy as np 
import pandas as pd

What is sqlite3?

sqlite3 is a built-in Python module

It allows Python to connect to an SQLite database

In [5]:
import sqlite3

In [6]:
conn = sqlite3.connect("student.db")
print("Database connected successfully")

Database connected successfully

In [8]:
# Create a Cursor Object
# Cursor is used to execute SQL commands
# What is a Cursor?

# Cursor is like a pointer or messenger

# It sends SQL commands to the database

# It also receives results from the database

cursor = conn.cursor()
print(cursor)

<sqlite3.Cursor object at 0x0000013713FD5440>

In [9]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    marks REAL
)
""")

In [11]:
students = [
    ('Anil', 22, 88.0),
    ('Sunil', 20, 90.5),
    ('Ravi', 23, 76.0)
]

cursor.executemany("""
INSERT INTO students (name, age, marks)
VALUES (?, ?, ?)
""", students)
print(students)

[('Anil', 22, 88.0), ('Sunil', 20, 90.5), ('Ravi', 23, 76.0)]

In [12]:
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Anil', 22, 88.0)
(2, 'Sunil', 20, 90.5)
(3, 'Ravi', 23, 76.0)
(4, 'Anil', 22, 88.0)
(5, 'Sunil', 20, 90.5)
(6, 'Ravi', 23, 76.0)

In [13]:
cursor.execute("SELECT * FROM students WHERE age > 21")
row = cursor.fetchone()
print(row)

(1, 'Anil', 22, 88.0)

In [17]:
cursor.execute("""
DELETE FROM students
WHERE name = 'Ravi'
""")

conn.commit()

In [18]:
print(students)

[('Anil', 22, 88.0), ('Sunil', 20, 90.5), ('Ravi', 23, 76.0)]