# Python Introduction

In [ ]:
what is python?

Python is a high-level, interpreted, general-purpose programming language known for its simple syntax, readability, and versatility.
It was created by Guido van Rossum and released in 1991.


 High-level language:You don’t manage memory; Python handles it.

 Interpreted:Runs line-by-line (not compiled).

Dynamically typed:You don’t need to declare variable types; Python determines them automatically.

General-purpose:Used in almost all domains:

Data engineering

Web development

Machine Learning / AI

Automation

Scripting

Game development

# what are variables?

In [ ]:
variable are container which can store the   values(( these values are datatypes)

 example:
age=10 (int)

name = "Balakrishna"  (string)
score = 3.14   (float)

# Naming Convention for Variables

In [ ]:

1. Must start with a letter or underscore _

✔ Valid:

name

_age

total1

✖ Invalid:

1name

@value

2. Cannot start with a number
1num = 10   # ❌ invalid
num1 = 10   # ✅ valid

3. Can contain only letters, numbers, and underscores

✔ first_name, marks_2024, total_amount
✖ first-name, total amount, price$

4. No spaces allowed

Use _ instead:

full_name = "Bala Krishna"  # ✔
full name = "Bala"          # ❌

**5. Variable names are case-sensitive
count = 10
Count = 20
COUNT = 30


All three are different variables.

6. Cannot use Python reserved keywords

Examples of keywords you cannot use:
for, while, if, class, def, return, try, True, False, None

Incorrect:

class = "Python"  # ❌

7. Use meaningful names (Best Practice)

✔ student_score
✔ total_price
✖ x, y, data123 (not meaningful)

8. Follow Snake Case (Python Convention)

Python uses snake_case:(in between we use underscore)

first_name = "Bala"
total_salary = 5000

9. Avoid using special characters

No: @, #, %, $, !, *, ., ?

10. Don’t use built-in function names

Avoid:

list = [1,2,3]    # ❌ overwrites built-in list()
sum = 10          # ❌ overwrites sum()

# Data types

In [ ]:
int (Integer)

Represents whole numbers (positive, negative, or zero).

Examples:

a = 10
b = -5
c = 0

-⃣- float-- (Floating Point Numbers)

Represents decimal numbers or real numbers.

Examples:

score= 3.14
temperature = -98.6
️ 
str (String)

Represents text data, written inside quotes.

Examples:

name = "Balakrishna"
city = 'New York'


️-- bool (Boolean)

Represents True or False values.

Examples:

is_valid = True
is_done = False

In [1]:
#(Integer)

#Represents whole numbers (positive, negative, or zero).

#Examples:

a = 10
b = -5
c = 0
print(a)
print(type(a))

10
<class 'int'>

In [2]:
##float (Floating Point Numbers)

#Represents decimal numbers or real numbers.

#Examples:


temperature = -98.6
print(temperature)
print(type(temperature))

-98.6
<class 'float'>

In [3]:
# string

# Represents text data, written inside quotes.

# Examples:

name = "Balakrishna"
city = 'New York'
print(name)
print(type(name))

Balakrishna
<class 'str'>

In [4]:
# Boolean:
# 


is_valid = True
is_done = False
print(is_valid)
print(type(is_done))

# examples:Represents True or False values.

True
<class 'bool'>

# Type Casting

In [ ]:
# Convert one datatype to another datatype


there are two types of   type casting

1: implicit type casting
2: Explict type casting

In [5]:
# 1: Implict Type Casting: automaton
# Python automatically converts smaller types into bigger types during operations.

# Example 1
x = 10       # int
y = 2.5      # float

result = x + y   
print(result)    
print(type(result))

12.5
<class 'float'>

In [6]:
# 2:Explicit Type Casting (Manual)

# You explicitly convert types using built-in functions:

# (A) int() → convert to integer
a = "10"
new_a=int(a)         # when you converting from one data types you need to assign to new variable other wise it can change)
print(type(new_a))     # doubt for Ruchik

b = 3.99
new_b=int(b)
print(type(new_b))

<class 'int'>
<class 'int'>

# operators

# Arthematic operators

In [7]:
a = 10
b = 3

print(a + b)    # 13
print(a - b)    # 7
print(a * b)    # 30
print(a / b)    # 3.3333333333
print(a // b)   # 3  (floor division)
print(a % b)    # 1  (remainder)
print(a ** b)   # 1000 (10^3)

13
7
30
3.3333333333333335
3
1
1000

# Logical_ operators

In [ ]:
x = (a > 5)      # True
y = (b < 2)      # False

print(x and y)   # False
print(x or y)    # True
print(not x)     # False

# comparsional _operators

In [8]:
print(a == b)   # False
print(a != b)   # True
print(a > b)    # True
print(a < b)    # False
print(a >= b)   # True
print(a <= b)   # False

False
True
True
False
True
False

#  Assignment_ operators

In [13]:
a = 10

a += 2   # 12  #a=a+2
a -= 2   # 10   #a = a - 2

a *= 3   # 30  #a = a * 3

a /= 3   # 10.0  #a = a / 3

a //= 3  # 3   #a = a // 3

a %= 2   # 1  #a = a % 2

a **= 3  # 1 (because 1**3)  #a = a ** 3

print(a)

1.0

# bit_wise Operators

In [14]:
#Bitwise operators work on bits (0s and 1s) of integers.

a = 5   # binary: 0101(
b = 3   # binary: 0011(

#Bitwise AND (&)

#Returns 1 if both bits are 1, else 0.

# 0101    #(5 )
# 0011    #(3)
# ----
# 0001 → 1

print(a & b)  # Output: 1

1

In [16]:
# Bitwise OR (|)

# Returns 1 if any bit is 1, else 0.

# 0101
# 0011
# ----
# 0111 → 7

print(a | b)  # Output: 7

7

In [17]:
# Bitwise XOR (^)

# Returns 1 if bits are different, else 0.

# 0101
# 0011
# ----
# 0110 → 6

print(a ^ b)  # Output: 6

6

In [18]:
# NOT (~) (compliment)

# Flips all bits (0 → 1, 1 → 0) → also called 1’s complement.

# a = 5 → 0101
# ~a → 1010 → -6 (in Python, ~x = -(x+1))

print(~a)  # Output: -6

-6

# input and output operation

In [19]:
# 1:Output Operations
# Using print()

# print() is used to display messages, variables, or results on the screen.

# It can display text, numbers, expressions, or a combination.

In [20]:
# Printing text
print("Hello, Python!")

# Printing numbers
a = 10
b = 5
print(a, b)  # Output: 10 5

# Printing expressions
print("Sum =", a + b)  # Output: Sum = 15

# Using separator and end
print(a, b, sep='-', end='!')
# Output: 10-5!

Hello, Python!
10 5
Sum = 15
10-5!

In [21]:
# Input Operations
# Using input()

# input() is used to take user input from the keyboard.

# The input is always treated as a string, so you may need to convert it to int, float,

In [ ]:
#Examples:
name = input("Enter your name: ")
print(name)

In [ ]:
# Input as integer
age = int(input("Enter your age: "))
print("You are", age, "years old")

In [ ]:
#Input as float
price = float(input("Enter price: "))
print("Price is:", price)

In [ ]:
name = input("Enter name: ")
age = int(input("Enter age: "))
print(f"Hello {name}, you are {age} years old.")

#.format

In [ ]:
name = "Balakrishna"
age = 25

print("My name is {} and I am {} years old.".format(name, age))