# Tuple

what is tuple?

tuple are ordered collection of items which are immutable. it is similar to list but  their immutability makes different

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

## Accessing Tuple Elements

In [4]:
number=(1,2,3,4,5)
print(number)
print(type(number))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [7]:
print(number[2])

3

In [8]:
print(number[0])

1

In [9]:
print(number[0:3])

(1, 2, 3)

In [12]:
print(number[::-1])

(5, 4, 3, 2, 1)

# tuple operation

# Concatenantion

In [16]:
num1=(1,2,3,4)
num2=(5,6,7,8)
concated=num1+num2
print(concated)

(1, 2, 3, 4, 5, 6, 7, 8)

## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

In [17]:

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [21]:
num1[1]="Krish"

TypeError: 'tuple' object does not support item assignment

# tuple methods

In [22]:

print(number.count(1))
print(number.index(3))

1
2

# nested tuple

In [23]:
 #  A tuple  inside a tuple is called nested tuple
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

# Some Applications use cases of tuple


Student / Employee Single Record,
Storing GPS Coordinates,
Storing Your Home Address (Fixed Info),
Date of Birth (Immutable Data)

# Set

#A set in Python is a collection of unique elements that is unordered and unindexed.

In [24]:
my_set = {10, 20, 20, 30}
print(my_set)     # {10, 20, 30}

{10, 20, 30}

2. Why Set? 

Sets are used when:

You want only unique items

You want to perform mathematical operations like union/intersection

In [30]:
#How to Create a Set?

s = {1, 2, 3}
print(s)

#Using set()
c = set([1, 2, 3])
print(c)


# Empty set:

a= {}        # WRONG (this is dict)
b= set() 
print(a)
print(b)     # CORRECT

{1, 2, 3}
{1, 2, 3}
{}
set()

# Set Operation

In [33]:
# Add Element
a={1,2}
a.add(3)
print(a)

{1, 2, 3}

In [35]:
# Update(Multiple Elements)
a.update([4,5])
print(a)

{1, 2, 3, 4, 5}

In [41]:
# remove element ( error if not exists)
a.remove(10)
print(a)
a.remove(2)

KeyError: 10

In [42]:
# Discard element (no error)
a.discard(10)
print(a)

{1, 3, 4, 5}

In [45]:
#Pop (removes random value)
a.pop()

1

In [46]:
print(a)

{3, 4, 5}

In [48]:
# Clear
a.clear()
print(a)

set()

# Mathematical Set Operations

# union

In [52]:
A = {1, 2, 3}
B = {3, 4}

             # {1,2,3,4}
print(A.union(B))
print(A|B)

{1, 2, 3, 4}
{1, 2, 3, 4}

# Intersection

In [51]:
A & B            # {3}
A.intersection(B)

{3}

#Difference – A minus B

In [53]:
A - B            # {1, 2}
A.difference(B)

{1, 2}

#Symmetric Difference

In [55]:
A ^ B            # {1,2,4}

{1, 2, 4}

# Set Membership

In [62]:
a={1,2,3,4,10}
if 10 in a:
    print("found")

# use cases in sets

#1:Online shopping – unique products,2:Removing duplicate contacts,3:Detecting unique visitors on a website,4:Data cleaning in analytics pipelines

# Dictionary

what is Dictionary?

In [66]:


# A dictionary in Python is a collection of key–value pairs.

# Keys → unique
# Values → can be duplicates
# Order → insertion ordered
# Mutable → can add, update, delete

Why we use Dictionary?

In [68]:


# We use a dictionary when we want to store data in key → value format, like a real dictionary (word → meaning).

# Examples in real life:

# Student ID → Name

# Username → Password (facebook,student_credintial)

# Country → Capital

# Product ID → Product details

#How to Create a Dictionary?

In [72]:
student = {"name": "Bala", "age": 25, "skills": "Python"}
print(student)
print(type(student))

{'name': 'Bala', 'age': 25, 'skills': 'Python'}
<class 'dict'>

In [74]:
#Using dict()
student = dict(name="Bala", age=25)
print(student)

{'name': 'Bala', 'age': 25}

#Accesing Dictionary

In [77]:
#Accessing Dictionary Values(Use key instead of index.)
student["name"]

'Bala'

In [78]:
student["age"]

25

In [81]:
student.keys()

dict_keys(['name', 'age'])

In [82]:
student.values()

dict_values(['Bala', 25])

In [91]:
student = dict(name="Bala", age=25)
print(student.items())

dict_items([('name', 'Bala'), ('age', 25)])

# Adding & Updating Values

In [84]:
student["city"] = "New York"
print(student)

{'name': 'Bala', 'age': 25, 'city': 'New York'}

# Update

In [85]:
student["age"] = 26
print(student)

{'name': 'Bala', 'age': 26, 'city': 'New York'}

# Removing item

In [86]:
#remove specific key:
student.pop("age")
print(student)

{'name': 'Bala', 'city': 'New York'}

In [87]:
#remove last inserted pair:
student.popitem()
print(student)

{'name': 'Bala'}

In [89]:
#remove all:
student.clear()
print(student)

{}

# Nested Dictionary( dictionary inside another dictionary)

In [93]:
student = {
    "name": "Bala",
    "address": {
        "city": "NYC",
        "zip": 10027
    }
}
print(student)

{'name': 'Bala', 'address': {'city': 'NYC', 'zip': 10027}}

In [94]:
student["address"]

{'city': 'NYC', 'zip': 10027}

In [95]:
student["address"]["zip"]

10027

# Dictionary Comprehension

 #write a concise way for code in single using the same logic

In [99]:
squares = {}
for x in range(5):
    squares[x] = x * x

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#{ key_expression : value_expression  for item in iterable  if condition }

In [100]:
squares = {x: x*x for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [102]:
even_squares = {x: x*x for x in range(10) if x % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

# List Comprehension

In [104]:
numbers = []
for x in range(5):
    numbers.append(x)
print(numbers)

[0, 1, 2, 3, 4]

# Syntax:[ expression  for item in iterable  if condition ]

In [114]:
numbers=[x for x in range(5)]
print(numbers)

[0, 1, 2, 3, 4]